.results_container {
  width: 100%;
  text-align: center;
  list-style: none;

  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
  border-radius: var(--mantine-radius-xl);
  padding: var(--mantine-spacing-xs);
}

.results_words_list_columns {
  display: flex;
  justify-content: center;
  gap: 1rem 1rem;
  flex-wrap: wrap;
  margin-top: var(--mantine-spacing-xs);
}

.result_list_item {
  margin: 0 0.5rem var(--mantine-spacing-lg) 0;
}

@keyframes resultReveal {
  from {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1.2) translate(0, -5rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.results_text_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.results_text {
  padding: 0 var(--mantine-spacing-md);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.results_text_group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.2rem;
}

.results_text_number {
  color: var(--mantine-primary-color-filled);
  font-size: 2rem;
  font-weight: 600;
}
