.results_container {
  width: 100%;
  text-align: center;
  list-style: none;
}

.results_words_list_columns {
  display: flex;
  justify-content: center;
  gap: 1rem 1rem;
  flex-wrap: wrap;
  margin: var(--mantine-spacing-xs) 0 var(--mantine-spacing-lg) 0;
}

.result_list_item {
  margin-left: 0.5rem;
}

@keyframes resultReveal {
  from {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1.2) translate(0, -5rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.result_chars_group {
  padding: var(--mantine-spacing-md);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-xl);
}

.results_text_group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.2rem;
}

.results_text_number {
  color: var(--mantine-primary-color-filled);
  font-weight: 600;
}
