.modal_title {
  font-weight: var(--mantine-h2-font-weight);
  line-height: var(--mantine-h2-line-height);
  font-size: var(--mantine-h2-font-size);
  font-family: var(--mantine-font-family-headings);
}

.modal_body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--mantine-spacing-xl);
}
