.guess_input_container {
  display: flex;
  column-gap: var(--mantine-spacing-xl);
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-sm);
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-xl) var(--mantine-spacing-xs);
  }
}

.guess_autocomplete_root {
  width: 50%;
  height: 4rem;

  @media (max-width: $mantine-breakpoint-md) {
    width: 70%;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    height: 3rem;
  }
}

.guess_autocomplete_wrapper {
  height: 100%;
}

.guess_autocomplete_input {
  padding-left: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-xl);
  font-size: var(--mantine-font-size-xl);
  height: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-lg);
  }
}

.guess_autocomplete_dropdown {
  border-radius: var(--mantine-radius-md);
}

.guess_autocomplete_option {
  font-size: var(--mantine-font-size-xl);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-lg);
  }
}

.guess_autocomplete_section {
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-xl);
  width: 4rem;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 3rem;
  }
}

.add_guess_button {
  height: 100%;
  width: 100%;
  --ai-size: var(--ai-size-lg);
  border-radius: var(--mantine-radius-lg);
}

.add_guess_button_icon {
  svg {
    width: 100%;
    height: 100%;
  }
}

.guess_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
