.guess_item {
  display: flex;
  gap: var(--mantine-spacing-md);
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-sm) {
    gap: var(--mantine-spacing-sm);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    gap: var(--mantine-spacing-xs);
  }
}
