.result_char_button {
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 0;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.perm_revealed {
  margin: 0 var(--mantine-spacing-xs);
}

.first {
  border-radius: var(--mantine-radius-xl) 0 0 var(--mantine-radius-xl);
}

.last {
  border-radius: 0 var(--mantine-radius-xl) var(--mantine-radius-xl) 0;
}
