.letter_button {
  width: 3rem;
  height: 3rem;

  :hover {
    opacity: 0.9;
  }
}

.letter_button_inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: var(--mantine-radius-sm);
  color: white;
  font-weight: 600;
  font-size: var(--mantine-font-size-lg);
  transition: transform 0.2s;
  transform: scaleY(1);
}

.letter_flipped {
  transform: scaleY(0);
}
