.letter_button {
  width: 3rem;
  height: 3rem;

  :hover {
    opacity: 0.9;
  }
}

.letter_button_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: var(--mantine-radius-sm);
  color: white;
  font-weight: 600;
  font-size: var(--mantine-font-size-lg);
}

@keyframes letterFlip {
  from {
    transform: none;
  }

  to {
    transform: scale(0.9, 0);
  }
}
