.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

.settings {
  padding: 1rem;
}

.setting_switch {
  padding-left: 1rem;
}

.custom_words_container {
  margin-left: 1rem;
}

.settings_section_title {
  margin-left: 0.5rem;
}
