.settings {
  padding: 1rem;
}

.setting_switch {
  padding-left: 1rem;
}

.custom_words_container {
  margin-left: 1rem;
}

.settings_section_title {
  margin-left: 0.5rem;
}

.indented_setting {
  margin-left: 1.3rem;
  gap: 0.3rem;

  div {
    margin-top: 0.25rem;
  }
}

.disabled_setting {
  opacity: 0.3;
}
