.settings_layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--mantine-spacing-xl);
  min-height: 100%;
}

.settings {
  min-width: 20rem;
  gap: var(--mantine-spacing-sm);
}

.settings_section {
  margin: 1rem 1rem 0 1rem;
}

.settings_title {
  text-align: center;
}

.setting_slider {
  gap: 0.25rem;

  label {
    font-weight: normal;
  }
}

.settings_section_title {
  margin-left: 0.5rem;
}

.indented_setting {
  margin-left: 0.3rem;
  gap: 0.3rem;

  div {
    margin-top: 0.25rem;
  }
}

.disabled_setting {
  opacity: 0.3;
}
